html {
	font-size: 16px;
	@media (max-width: 1200px) {
		font-size: 12px;
		h2 {
			font-size: 2rem !important;
		}
	}
	@media (max-width: 1000px) {
		font-size: 12px;
	}
	@media (max-width: 600px) {
		font-size: 14px;
	}
}
