if (!production)
	script(type='text/javascript', src="/js/vendor.js")
	script(type='text/javascript', src="/js/app.js")
else
	script(type='text/javascript', src="/js/vendor.min.js")
	script(type='text/javascript', src="/js/app.min.js" async)
