.support-us {
    background-color: lighten($color_blue_faded, 30);
    padding: $padding1 calc(5% + #{$padding1});
    @media(max-width: 800px) {
        padding: $padding1 $padding1*0.5;
    }
    h2 {
        color: $color_blue_bright;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 48px;
    }
    .info {
        display: flex;
        .info-card {
            background-color: #FFF;
            padding: 20px $padding1;
            box-shadow: 6px 6px 6px -1px rgba($color_text, 0.3);
            header {
                margin-bottom: 30px;
                .svg-wrap {
                    display: inline-block;
                    vertical-align: middle;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
                h4 {
                    display: inline-block;
                    vertical-align: middle;
                    color: $color_blue_bright;
                    margin-left: 16px;
                    font-size: $h3;
                }
            }
            ul {
                list-style-type: disc;
                color: $color_text;
                li {
                    line-height: 1.5;
                    font-family: $font_body;
                    font-size: $h4;
                    color: $color_text;
                    font-weight: 200;
                    margin-bottom: 10px;
                }
            }
            &:nth-child(1) {
                margin-right: 30px;
            }
        }
        @media(max-width: 680px) {
            flex-direction: column;
            .info-card {
                margin-bottom: $padding1*0.5;
                &:nth-child(1) {
                    margin-right: 0;
                }
            }
        }
        @media(max-width: 450px) {
            .info-card {
                width: 80%;
                padding: 20px 32px;
            }
        }
    }
}
